#github_description {
  background-color: #1e1e1e;
}

#text_description {
	color: rgb(206, 206, 206);
	font-size: 12px;
  padding: 10px !important;
  padding-bottom: 20px !important;
	margin: 0px !important;
}

#barchart {
  background-color: #1e1e1e;
}

.row.chart {
  margin-top: -82px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

#chart_col {
  width: 100%;
  max-width: 800px;
  overflow-x: auto;
  margin-right: auto;
  padding-left: 10px;
}

.barchart_mobile_header {
  position: relative;
  z-index: 2;
  width: 100% !important;
  flex-wrap: nowrap !important;
  max-width: 788px;
  align-items: center;
	display: flex;
}

.full_width_control {
  margin-left: auto;
  color: #979797;
  width: fit-content !important;
}

.full_width_btn {
  width: 28px !important;
  height: 28px !important;
  padding: 0px !important;
}

.scroll_explainer {
  margin-left: 12px !important;
  width: fit-content !important;
}

.scroll_arrows {
  font-size: 1.6rem;
  color: #979797;
  padding: 0px 4px 0px 0px !important;
}

.p_scroll {
	margin: 0px !important;
	padding: 0px !important;
	color: #979797;
	font-size: 12px;
  width: fit-content;
  align-items: center;
	display: flex;
}

.legend_bar {
  max-width: 148px !important;
  margin-left: 12px !important;
  border: 1px solid #777;
  font-size: 12px;
  color: gray;
  z-index: 1;
  position: relative;
}

.n_crimes_legend {
  padding: 0px 3px 0px 3px !important;
  width: 100% !important;
}

.n_victims_legend {
  padding: 0px 3px 0px 3px !important;
  width: 100% !important;
  color: #310000;
  background-color: rgb(132, 100, 100);
}

.n_fatalities_legend {
  padding: 0px 3px 0px 3px !important;
  width: 100% !important;
  background-color: rgb(112, 0, 0);
}

.chart {
  margin-top: 40px;
}

.year_label {
  font-size: 10px;
  color: lightgrey;
  letter-spacing: 1.2px;
}

.x_line {
  stroke: gray;
  stroke-width: 1px;
}

.n_crimes {
	fill: none;
	stroke: #777;
	stroke-width: 0.6px;
}

.label {
  font-size: 10px;
}

.n_crimes_label {
  fill: gray;
  text-anchor: middle;
}

.n_fatalities_label {
  fill: gray;
  text-anchor: middle;
}

.n_victims_label {
  fill: #310000;
  text-anchor: middle;
}

.n_victims {
  fill:rgb(132, 100, 100);
}

.n_fatalities {
  fill:rgb(112, 0, 0);
}

.smooth_avg_line {
	box-shadow: black;
}

.background_law_info {
  position: relative;
  font-size: 10px;
  color: rgb(177, 177, 177);
}

.tooltip {
  --bs-tooltip-arrow-color: #979797 !important;
  --bs-tooltip-bg: #979797 !important;
}

.tooltip-inner {
  color: #000000 !important;
  font-size: 10px !important;
  text-align: left !important;
}

.info_icon {
  color: rgb(177, 177, 177);
  font-size: 0.8rem;
}

@media (min-width:800px) {
  #chart_col {
    overflow-x:hidden;
  }
  .barchart_mobile_header {
    display: none !important;
  }
}