#github_description {
  background-color: #1e1e1e;
}

#text_description {
	color: rgb(206, 206, 206);
	font-size: 12px;
  padding: 10px !important;
  padding-bottom: 20px !important;
	margin: 0px !important;
}

.legend_text {
  color: white;
  font-size: 12px;
}

.year_label {
  font-size: 10px;
  color: lightgrey;
  letter-spacing: 1.2px;
}

.x_line {
  stroke-dasharray: 5 3;
  color: lightgrey;
}

#barchart {
  background-color: #1e1e1e;
}