#github_description {
  background-color: #1e1e1e;
}

#text_description {
	color: rgb(206, 206, 206);
	font-size: 12px;
  padding: 10px !important;
  padding-bottom: 20px !important;
	margin: 0px !important;
}

.legend_text {
  color: white;
  font-size: 12px;
}

.year_label {
  font-size: 10px;
  color: lightgrey;
  letter-spacing: 1.2px;
}

.x_line {
  stroke: gray;
  stroke-width: 1px;
}

#barchart {
  background-color: #1e1e1e;
}

.n_crimes {
	fill: none;
	stroke: gray;
	stroke-dasharray: 5 5;
	stroke-width: 1px;
}

.label {
  font-size: 10px;
}

.n_crimes_label {
  fill: gray;
  text-anchor: middle;
}

.n_fatalities_label {
  fill: black;
  text-anchor: middle;
}

.n_victims_label {
  fill: #310000;
  text-anchor: middle;
}

.n_victims {
  fill:rgb(132, 100, 100);
}

.n_fatalities {
  fill:rgb(112, 0, 0);

}