#github_description {
  background-color: #1e1e1e;
}

#text_description {
	color: rgb(206, 206, 206);
	font-size: 12px;
  padding: 10px !important;
  padding-bottom: 20px !important;
	margin: 0px !important;
}

.legend_text {
  color: white;
  font-size: 12px;
}

#barchart {
  background-color: #1e1e1e;
}

.chart_title_h1 {
	color: #f4f4f4;
	font-size: 32px;
	margin-left: 20px !important;
}

.info_box {
  margin: 0px 0px 20px 20px !important;
  background-color: rgb(244, 244, 244);
  color: black;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  max-width: 840px;
}

.info_box_text {
  margin-bottom: 0px !important;
}

.legend_bar {
  max-width: fit-content !important;
  margin-left: 20px !important;
  border: 1px solid #777;
  font-size: 10px;
  color: gray;
}

.targeting_legend {
  padding: 0px 3px 0px 3px !important;
}

.domestic_legend {
  padding: 0px 3px 0px 3px !important;
  color: #310000;
  background-color: rgb(132, 100, 100);
}

.other_legend {
  padding: 0px 3px 0px 3px !important;
  background-color: rgb(112, 0, 0);
}

.chart {
  margin-top: 40px;
}

.year_label {
  font-size: 10px;
  color: lightgrey;
  letter-spacing: 1.2px;
}

.x_line {
  stroke: gray;
  stroke-width: 1px;
}

.targeting {
	fill: none;
	stroke: #777;
	stroke-width: 0.6px;
}

.label {
  font-size: 10px;
}

.targeting_label {
  fill: gray;
  text-anchor: middle;
}

.other_label {
  fill: gray;
  text-anchor: middle;
}

.domestic_label {
  fill: #310000;
  text-anchor: middle;
}

.domestic {
  fill:rgb(132, 100, 100);
}

.other {
  fill:rgb(112, 0, 0);
}

.smooth_avg_line {
	box-shadow: black;
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
}

.background_law_info {
  position: absolute;
  font-size: 10px;
  color: rgb(177, 177, 177);
  padding-top: 12px;
}

.law_tooltip {
  font-size: 10px !important;
}

.law_tooltip > .tooltip-inner {
  background-color: rgba(0, 0, 0, 0.8);
}