/* body {
  background-color: black !important;
} */

#info_box {
  background-color: rgb(244, 244, 244);;
  color: black;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px;
}

#info_box .disclaimer {
  font-style: italic;
  color: #575757;
}


/* #rf_map_container {
  margin-bottom: -80px;
} */

/* map legend */

#legend {
  margin-top: 10px;
  padding-left: 0px !important;
}

.legend_label {
  font-size: 12px;
  color: white;
  fill: white;
}

#n_victims_text {
  padding-right: 0px;
}

#no_data {
  padding-left: 0px;
}

#rf_map {
  width: 800px;
  height: 512px;
  margin-top:10px;

}

#table-container{
  max-width:830px;
}

.container-fluid{
  margin-left: 0 !important;
}


#data-table tbody{
  background-color: rgb(244, 244, 244);
  font-size:12px;
  color: black;
}

thead {
  font-size:12px;
  text-align: left;
  background-color: rgb(244, 244, 244);
  color: black;
}

tbody tr:hover{
  background-color: rgb(179, 179, 179) !important;
}

.table thead th {
  vertical-align:top;
}

#names_container .name {
  font-size:10px !important;
  pointer-events:none; /* make sure the tile text is not selected */
}

/* -- occupied regions */

#tiles_container rect[id="91"] {
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 3 2;
}

#tiles_container rect[id="92"] {
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 3 2;
}

/* occupied regions -- */

#tooltip {
  position: absolute;
  min-width:80px;
  font-size:10px;
  background-color: rgba(0, 0, 0);
  color: white;
  padding: 4px;
  border-radius: 4px;
  pointer-events: none; /* the tooltip shouldn't interfere with mouse events */
  visibility: hidden; /* the tooltip is hidden by default */
}

#controls {
margin-bottom: 10px;
margin-left: 12px;
}

#col_pad {
  padding:4px;
}

#year_selectors {
  flex-wrap: nowrap !important;
  padding-left: 12px;
}

p.all_years {
  font-size: 12px;
  margin-top: 4px;
}

select#yearDropdown {
  font-size: 12px;
}

#allYearsButton {
  width:fit-content;
  padding:1px;
  font-size: 12px;
}

#allRegionsButton{
  width:fit-content;
  padding:1px;
  font-size: 12px;
}

#playButton{
  width:fit-content;
  font-size: 12px;
  padding: 1px;
}
