#github_description {
  background-color: #1e1e1e;
}

#text_description {
	color: rgb(206, 206, 206);
	font-size: 12px;
  padding: 10px !important;
  padding-bottom: 20px !important;
	margin: 0px !important;
}

#map_table {
	background-color: #1e1e1e;
}

.above_map{
  position: relative;
  max-width: 840px;
  background-color: rgb(244, 244, 244);
  border-radius: 4px;
  padding: 12px;
}

.info_text {
  overflow: hidden;
}

#info_box {
  color: black;
  font-size: 14px;
}

#info_box .disclaimer {
  font-style: italic;
  color: #575757;
}

#legend {
  margin-top: 10px;
  padding-left: 0px !important;
  max-width: 840px;
  flex-wrap: nowrap !important;
}

.legend_label {
  font-size: 12px;
  color: white;
  fill: white;
  margin: 0px !important;
}

#n_victims_text {
  padding: 0px 0px 2px 16px;
}

#no_data {
  padding-left: 0px;
}

.lang_switch {
  padding: 0px !important;
}

.lang_btn {
	height: 22px;
	padding: 0px 4px 0px 4px !important;
	color: #aaa !important;
	font-size: 12px !important;
	border-color: #f4f4f4 !important;
}

.lang_btn:hover {
	color: black !important;
  background-color: #f4f4f4 !important;
	border-color: #f4f4f4 !important;
}

.lang_btn:focus {
	box-shadow: none !important;
}

.lang_btn:active {
	color: black !important;
  background-color: #f4f4f4 !important;
	border-color: #f4f4f4 !important;
}

.lang_btn.active {
	color: black !important;
  background-color: #f4f4f4 !important;
	border-color: #f4f4f4 !important;
}

#rf_map {
  width: 800px;
  height: 512px;
  margin-top:10px;

}

#table-container {
  max-width: 900px;
  max-height: 460px;
  overflow-y: scroll ;
}

.container-fluid{
  margin-left: 0 !important;
}

.table_explainer {
  color: white;
  padding-left: 8px;
  font-size: 14px;
  max-width: 840px;
}

#data-table tbody{
  background-color: rgb(244, 244, 244);
  font-size:12px;
  color: black;
}

.table {
  line-height: 1.2 !important;
  margin-bottom:0px !important;
}

thead {
  font-size:12px;
  text-align: left;
  background-color: rgb(244, 244, 244);
  color: black;
}

tbody tr:hover{
  background-color: rgb(204, 204, 204) !important;
}

.table thead th {
  vertical-align: top !important;
  position: sticky;
  top: 0;
  background-color: rgb(204, 204, 204);
}

.badge_premeditated_yes {
  padding: 2px;
  border-radius: 4px;
  background-color: darkred;
  color: white;
}

.badge_premeditated_no {
  padding: 2px;
  border-radius: 4px;
  background-color: grey;
}

.case_download_icon {
  font-size: 0.8rem;
}

.case_download {
  color:rgb(29, 29, 29) !important;
}

.case_download:hover {
  color:black !important;
  text-decoration: none !important;
}

#names_container .name {
  font-size:10px !important;
  pointer-events:none; /* make sure the tile text is not selected */
}

/* -- occupied regions */

#dashed_border {
  stroke: white !important;
  stroke-dasharray: 3 2;
  fill: none !important; /* to overwrite auto colour or #diagonalHatch fill */
}

/* occupied regions -- */

#tooltip {
  position: absolute;
  min-width:80px;
  font-size:10px;
  background-color: rgba(0, 0, 0);
  color: white;
  padding: 4px;
  border-radius: 4px;
  pointer-events: none; /* the tooltip shouldn't interfere with mouse events */
  visibility: hidden; /* the tooltip is hidden by default */
}

#controls {
margin-bottom: 10px;
margin-left: 12px;
}

#col_pad {
  padding:4px;
}

#year_selectors {
  flex-wrap: nowrap !important;
  padding-left: 12px;
}

p.all_years {
  font-size: 12px;
  margin-top: 4px;
  color: white;
}

select#yearDropdown {
	font-size: 12px;
	border-radius: 4px;
	border: none;
	height: 24px;
}

select#yearDropdown:hover {
background-color: #b0b0b0;
}

.map_controls_btn {
  width: fit-content !important;
  padding: 2px !important;
  font-size: 12px !important;
  background-color: #f4f4f4 !important;
  color: black !important;
  border-color: #f4f4f4 !important;
}

.map_controls_btn:hover {
  background-color: #b0b0b0 !important;
  border-color: #b0b0b0 !important;
}

#table_bottom {
  height: 60px;
}
